/* * {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
} */
/* .notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
} */
* {
  font-family: 'Mulish','Work Sans', sans-serif;
}
/* navbar */
.logoAndmenuIcons-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.logo {
  position: relative;
  right: 8px;
}
.menuicons-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
}
/* .notifications:hover{
  color:  #6342E8;
} */
.menuicons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2px;
}
.notification, .badge {
  text-decoration: none;
}
.badge {
  position: relative;
  right: 35px;
  bottom: 15px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #CD0000;
  color: white;
 font-size: 10px;
} 

/* Registration */
.username, .email, .password {
  margin-left: 10px;
  width: 92%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #7B8794;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  color: #7B8794;
  padding-left: 10px;
}
.name, .email-label, .password-label {
  margin-left: 13px;
  color: #323F4B;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}
.errors {
  font-size: 12px;
  margin-left: 13px;
  margin-bottom: 5px;
  color: red;
}
.errors-password {
  font-size: 12px;
  margin-left: 13px;
  color: red;
}
.register-btn {
  margin: 20px 12px;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  color: #FFFFFF;
  background: #161616;
  border: 1px solid #161616;
  font-weight: 700;
  font-size: 15px;
}
.agreement-label {
  font-weight: 600;
  font-size: 14px;
  color: #7B8794;
}
.checkbox {
  color: #7B8794;  
}

/* Login */
.login-btn {
  margin: 20px 12px 0 12px;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  color: #FFFFFF;
  background: #161616;
  border: 1px solid #161616;
  font-weight: 700;
  font-size: 15px;
}
.register-link {
  color: #7B8794;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.login-text {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: #323F4B;
  margin-left: 25px;
}

/* Filter section */
.filter-options {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  right: 20px;
}
.filter-options ul {
  flex: 1;
  text-align: left;
}
.filter-options ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #7B8794;
}
.line {
  color: #323F4B;
  width: 82%;
  position: relative;
  bottom: 30px;
}
.filtermenuIcons-container {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.filter-sort {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  bottom: 30px;
}
/* .filter-text {

} */
.filter-sort h4 {
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.filter-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 20px;
}
.view-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  bottom: 8px;
}

/* Homepage section */
.item-name {
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  position: relative;
  top: 15px;
  left: 6px;
}
.item-price {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  list-style: none;
  position: relative;
  top: 15px;
  left: 5px;
}
.item-list {
  width: 162px;
  height: 60px;
  background: #DADADA;
  border-radius: 0px 0px 8px 8px;
  position: relative;
  bottom: 30px;
}
.favourite-icon {
  position: relative;
  left: 130px;
  bottom: 30px;
}
.clothe-list {
  position: relative;
  left: 10px; 
}

/* Clothe preview */
.addcart-btn {
  margin: 20px 12px 0 12px;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  color: #FFFFFF;
  background: #161616;
  border: 1px solid #161616;
  font-weight: 700;
  font-size: 15px;
}